.icon,
.icon_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
  width: 45px;
  cursor: pointer;
}
.icon {
  background-color: white;
}

.icon svg {
  background-color: white;
}

.icons {
  gap: 10px;
  display: flex;
}

.icon_footer {
  border: 1px solid #ffca42;
}
