.navigation {
  display: flex;
  gap: 30px;
  margin: 0 40px 0 150px;
}

.navigation a {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  color: #f6f8fc;
  text-decoration: none;
}

.navigation .active {
  color: #ffca42;
}
